-- Script to update Order status constraint to include 'cancelled' status

DECLARE @sql NVARCHAR(MAX) = N'';

;WITH C AS (
    SELECT c.name AS ck_name
    FROM sys.check_constraints c
    JOIN sys.objects o ON o.object_id = c.parent_object_id
    JOIN sys.columns col ON col.object_id = o.object_id AND col.column_id = c.parent_column_id
    WHERE o.name = 'Order' AND col.name = 'status'
)
SELECT @sql = STRING_AGG(N'ALTER TABLE [dbo].[Order] DROP CONSTRAINT [' + ck_name + N'];', CHAR(10))
FROM C;

IF @sql IS NOT NULL AND LEN(@sql) > 0
    EXEC sp_executesql @sql;
GO

ALTER TABLE [dbo].[Order]
ADD CONSTRAINT [CK_Order_Status]
CHECK ([status] IN ('cart','pending','confirmed','shipping','completed','cancelled'));
GO
